In [31]:
import numpy as np
import pandas as pd

In [32]:
# importing datasets
dataframe = pd.read_csv('../input/novel-corona-virus-2019-dataset/covid_19_data.csv')

In [33]:
dataframe['ObservationDate'] = pd.to_datetime(dataframe['ObservationDate'])

In [34]:
world_latest = dataframe[dataframe['ObservationDate'] == max(dataframe['ObservationDate'])].reset_index()
china_latest = world_latest[world_latest['Country/Region']=='Mainland China']
other_latest = world_latest[world_latest['Country/Region']!='Mainland China']

world_latest_severity = world_latest.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered'].sum().reset_index()
china_latest_severity = china_latest.groupby('Province/State')['Confirmed', 'Deaths', 'Recovered'].sum().reset_index()
other_latest_severity = other_latest.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered'].sum().reset_index()
world_latest

,index,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,2285,2286,2020-02-25,Hubei,Mainland China,2020-02-25T15:23:04,64786.0,2563.0,18971.0
1,2286,2287,2020-02-25,Guangdong,Mainland China,2020-02-25T08:53:02,1347.0,7.0,822.0
2,2287,2288,2020-02-25,Henan,Mainland China,2020-02-25T12:43:02,1271.0,19.0,1002.0
3,2288,2289,2020-02-25,Zhejiang,Mainland China,2020-02-25T09:13:05,1205.0,1.0,808.0
4,2289,2290,2020-02-25,Hunan,Mainland China,2020-02-25T15:03:05,1016.0,4.0,768.0
...,...,...,...,...,...,...,...,...,...
89,2374,2375,2020-02-25,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
90,2375,2376,2020-02-25,"Tempe, AZ",US,2020-02-25T21:23:03,1.0,0.0,1.0
91,2376,2377,2020-02-25,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
92,2377,2378,2020-02-25,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
93,2378,2379,2020-02-25,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0

In [35]:
world_latest_severity = world_latest_severity.sort_values(by='Confirmed', ascending=False)
world_latest_severity = world_latest_severity.reset_index(drop=True)
world_latest_severity

          Country/Region  Confirmed  Deaths  Recovered
0         Mainland China    77660.0  2663.0    27650.0
1            South Korea      977.0    10.0       22.0
2                 Others      691.0     3.0        0.0
3                  Italy      322.0    10.0        1.0
4                  Japan      170.0     1.0       22.0
5                   Iran       95.0    16.0        0.0
6              Singapore       91.0     0.0       53.0
7              Hong Kong       84.0     2.0       19.0
8                     US       53.0     0.0        6.0
9               Thailand       37.0     0.0       22.0
10                Taiwan       31.0     1.0        5.0
11               Bahrain       23.0     0.0        0.0
12             Australia       22.0     0.0       11.0
13              Malaysia       22.0     0.0       18.0
14               Germany       17.0     0.0       14.0
15               Vietnam       16.0     0.0       16.0
16                France       14.0     1.0       11.0
17  United Arab Emirates       13.0     0.0        4.0
18                    UK       13.0     0.0        8.0
19                Kuwait       11.0     0.0        0.0
20                Canada       11.0     0.0        3.0
21                 Macau       10.0     0.0        7.0
22                 Spain        6.0     0.0        2.0
23                 India        3.0     0.0        3.0
24           Philippines        3.0     1.0        1.0
25               Austria        2.0     0.0        0.0
26                  Oman        2.0     0.0        0.0
27                Russia        2.0     0.0        2.0
28           Switzerland        1.0     0.0        0.0
29                Sweden        1.0     0.0        0.0
30             Sri Lanka        1.0     0.0        1.0
31           Afghanistan        1.0     0.0        0.0
32                 Nepal        1.0     0.0        1.0
33               Algeria        1.0     0.0        0.0
34                Israel        1.0     0.0        0.0
35                  Iraq        1.0     0.0        0.0
36               Finland        1.0     0.0        1.0
37                 Egypt        1.0     0.0        0.0
38               Croatia        1.0     0.0        0.0
39              Cambodia        1.0     0.0        1.0
40               Belgium        1.0     0.0        1.0
41               Lebanon        1.0     0.0        0.0

In [36]:
china_latest_severity = china_latest_severity.sort_values(by='Confirmed', ascending=False)
china_latest_severity = china_latest_severity.reset_index(drop=True)
china_latest_severity

    Province/State  Confirmed  Deaths  Recovered
0            Hubei    64786.0  2563.0    18971.0
1        Guangdong     1347.0     7.0      822.0
2            Henan     1271.0    19.0     1002.0
3         Zhejiang     1205.0     1.0      808.0
4            Hunan     1016.0     4.0      768.0
5            Anhui      989.0     6.0      712.0
6          Jiangxi      934.0     1.0      683.0
7         Shandong      756.0     6.0      355.0
8          Jiangsu      631.0     0.0      458.0
9        Chongqing      576.0     6.0      372.0
10         Sichuan      529.0     3.0      289.0
11    Heilongjiang      480.0    12.0      243.0
12         Beijing      400.0     4.0      215.0
13        Shanghai      336.0     3.0      268.0
14           Hebei      311.0     6.0      248.0
15          Fujian      294.0     1.0      199.0
16         Guangxi      252.0     2.0      134.0
17         Shaanxi      245.0     1.0      186.0
18          Yunnan      174.0     2.0      129.0
19          Hainan      168.0     5.0      124.0
20         Guizhou      146.0     2.0      104.0
21         Tianjin      135.0     3.0       91.0
22          Shanxi      133.0     0.0       98.0
23        Liaoning      121.0     1.0       83.0
24           Jilin       93.0     1.0       63.0
25           Gansu       91.0     2.0       80.0
26        Xinjiang       76.0     2.0       30.0
27  Inner Mongolia       75.0     0.0       35.0
28         Ningxia       71.0     0.0       61.0
29         Qinghai       18.0     0.0       18.0
30           Tibet        1.0     0.0        1.0

**China severity level**

In [37]:
cols=china_latest_severity.keys()
dataset=china_latest_severity.loc[:,cols[1]:cols[-1]]
nameset=china_latest_severity.loc[:,cols[0]]

In [38]:
from sklearn.cluster import KMeans
data = dataset.values
cityName = nameset.values
km = KMeans(n_clusters=4)
label = km.fit_predict(data)
expenses = np.sum(km.cluster_centers_,axis=1)
#print(severity level)
ProvinceCluster = [[],[],[],[]]
for i in range(len(cityName)):
    ProvinceCluster[label[i]].append(cityName[i])
for i in range(len(ProvinceCluster)):
    print("severity level:%s" %i)
    print(ProvinceCluster[i])

severity level:0
['Fujian', 'Guangxi', 'Shaanxi', 'Yunnan', 'Hainan', 'Guizhou', 'Tianjin', 'Shanxi', 'Liaoning', 'Jilin', 'Gansu', 'Xinjiang', 'Inner Mongolia', 'Ningxia', 'Qinghai', 'Tibet']
severity level:1
['Hubei']
severity level:2
['Guangdong', 'Henan', 'Zhejiang', 'Hunan', 'Anhui', 'Jiangxi']
severity level:3
['Shandong', 'Jiangsu', 'Chongqing', 'Sichuan', 'Heilongjiang', 'Beijing', 'Shanghai', 'Hebei']

**World severity level**

In [ ]:
cols=world_latest_severity.keys()
dataset=world_latest_severity.loc[:,cols[1]:cols[-1]]
nameset=world_latest_severity.loc[:,cols[0]]

In [ ]:
data = dataset.values
countryName = nameset.values
km = KMeans(n_clusters=4)
label = km.fit_predict(data)
expenses = np.sum(km.cluster_centers_,axis=1)
#print(severity level)
CountryCluster = [[],[],[],[]]
for i in range(len(countryName)):
    CountryCluster[label[i]].append(countryName[i])
for i in range(len(CountryCluster)):
    print("severity level:%s" %i)
    print(CountryCluster[i])